{% extends "inventory/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      {{ form.name.label_tag }} {{ form.name }}
      {{ form.category.label_tag }} {{ form.category }}
      {{ form.size.label_tag }} {{ form.size }}
      {{ form.color.label_tag }} {{ form.color }}
    </div>
    <div class="col-md-6">
      {{ form.price.label_tag }} {{ form.price }}
      {{ form.quantity.label_tag }} {{ form.quantity }}
      {{ form.barcode.label_tag }} {{ form.barcode }}
      {{ form.discount_percent.label_tag }} {{ form.discount_percent }}
    </div>
  </div>
  <button type="submit" class="btn btn-success mt-3">Save</button>
  <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancel</a>
</form>
{% endblock %}